@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./3d-render-abstract-background-plexus-design-with-shallow-depth-field.jpg");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .ddfd{
  background-color: #121217;
} */
.title{
  color: white;
  background-color: #202022 ;
  border-color:  #202022;
}
.chakra-tab-panel:hover{
  background-color: #555;
}
.chatwallpaper{
  background-image: url("./black-white-bokeh-particles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;


}
.chatHeader{
  background-color: rgb(63, 62, 65);
}
/* .chatpageHeader{
  background-color: rgb(26, 26, 28);
  color: white;
} */
.H_menulist{
  /* background-color: #c43f3f; */
}
.drawerBody{
  background-color: #303035;
  
}
.mychatdiv{
  background-color: #100f19;
}
.innerMychat{
  background-color: #b9b9b9;
}
/* .modalpage{
  background-color: rgb(223, 134, 134);
} */